/* Здесь будут ваши стили для оформления страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* Стили для шапки */
  }
  
  nav ul {
    /* Стили для меню */
  }
  
  /* И так далее для каждого элемента */